<!DOCTYPE html>
<html>
<head>
  <title>Wargs - Multi Dimensional News Summarization</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="font-size:12px">

<%= yield %>

</body>
</html>
